<html>
  <title>404</title>
<head>
<link rel="stylesheet" href="stylesheets/404.css">
<link rel="stylesheet" href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
</head>
<body>
<h1>404</h1>
<p>Oops! Something is wrong.</p>
<a class="button" href="/"><i class="icon-home"></i> Go back in initial page, is better.</a>
</body>
</html>