<!DOCTYPE html>
<head>
<link rel="stylesheet" href="./LOGIN/login.css">
<link rel="stylesheet" href="https://raubarrera.neocities.org/cdpn/style.css">

<title>Complex Scheduling</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">

<title>LogIn</title>
</head>
<body style="background-image: url('./images/library-1400313_1920.jpg');" >
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
				<div class="container">
				  <a class="navbar-brand" href="index.html">Time-table</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="oi oi-menu"></span> Menu
				  </button>
		  
				  <div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav ml-auto">
					  <li class="nav-item active"><a href="index.html" class="nav-link">Students</a></li>
					  <li class="nav-item"><a href="login.html" class="nav-link">Faculty</a></li>
					  <li class="nav-item"><a href="specialties.html" class="nav-link">Make Time-table</a></li>
					</ul>
				  </div>
				</div>
			  </nav>
			  <!-- END nav -->

		<div class="grad"></div>
		<div class="header">
			<div>Faculty Login</div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"><br><br>
				<input type="password" placeholder="password" name="password"><br>
				<br>	
				<input type="radio" name="rb" id="rb1" />
				<label for="rb1">Teacher</label>
				<input type="radio" name="rb" id="rb2" />
				<label for="rb2">HOD</label>
				<input type="button" value="Login">
				
		</div>
  </body>	
</html>